@import "@/styles/variables";
@import "@/styles/mixins";

.bookmarkItemContainer {
  @include card;
  gap: $spacer-sm;
  @include md-breakpoint {
    grid-template-columns: 200px 1fr;
  }

  footer {
    font-size: $font-size-sm;
    display: flex;
    flex-direction: column;
  }
}

.bookmarkItemImageContainer {
  width: 100%;
  height: fit-content;
  overflow: hidden;
  > div {
    position: unset !important;
  }
}

.bookmarkItemImage {
  object-fit: cover;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.bookmarkItemDetails {
  padding: $spacer;

  h1 {
    font-size: $font-size-base;
    margin: $spacer-none;
    line-height: $line-height-sm;
    a {
      font-weight: $font-weight-semibold;
    }
  }

  time {
    font-size: $font-size-sm;
    color: $dark-color;
    @include color-scheme(dark) {
      color: $light-color;
    }
  }

  p {
    font-size: $font-size-sm;
    margin: $spacer-sm $spacer-none;
    margin-bottom: $spacer;
    line-height: $line-height-sm;
  }
}

.bookmarkItemInfo {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  @include md-breakpoint {
    // flex-direction: row;
    // align-items: center;
  }
  gap: $spacer-sm;
}

.bookmarkTypesContainer {
  margin: $spacer-lg $spacer-none;
}

.bookmarkItemTags {
  display: flex;
  gap: $spacer-sm;
  flex-wrap: wrap;
  font-size: $font-size-sm;
  > * {
    @include tag();
  }
}

.bookmarkTypeSelector {
  cursor: pointer;
  &:hover {
    background-color: $light-dark-color;
    @include color-scheme(dark) {
      background-color: $dark-light-color;
    }
  }
}

.bookmarkTypeSelectorCurrent {
  background-color: $light-dark-color;
  @include color-scheme(dark) {
    background-color: $dark-light-color;
  }
  &::before {
    content: "#";
    font-weight: $font-weight-bold;
  }
}

.bookmarkItemDate {
  display: flex;
  align-items: center;
  gap: $spacer-sm;
  margin: $spacer-sm $spacer-none;
}
