@import "@/styles/variables.scss";

.footerContainer {
  font-family: $font-family-body;
  color: $primary-color;
  font-size: $font-size-sm;
  font-weight: $font-weight-light;
  padding: $padding-lg $padding-none;
  border-top: $border-width $border-style $background-lighter-color;

  a {
    color: $hyperlink-color;
  }
}

.footerItems {
  max-width: $max-width;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  gap: $spacer-xs;
}
