@import "@/styles/variables.scss";
@import "@/styles/mixins";

.footerContainer {
  font-family: $font-family-body;
  color: $light-foreground-color;
  @include color-scheme(dark) {
    color: $dark-foreground-color;
  }
  font-size: $font-size-sm;
  font-weight: $font-weight-base;
  a {
    color: $light-highlight-color;
    @include color-scheme(dark) {
      color: $dark-highlight-color;
    }
  }
}

.footerItems {
  max-width: $max-width;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  gap: $spacer;

  padding: $spacer $spacer-none;
  border-top: $border-width $border-style $light-border-color;
  @include color-scheme(dark) {
    border-top: $border-width $border-style $dark-border-color;
  }

  @include md-breakpoint {
    flex-direction: row;
    text-align: left;
  }

  b {
    font-weight: $font-weight-semibold;
  }
}

.footerInfo {
  display: flex;
  flex-direction: column;
  gap: $spacer-xs;
}
