@import "@/styles/variables";
@import "@/styles/mixins";

.linkItemContainer {
  @include card;
  gap: $spacer-sm;
  @include md-breakpoint {
    grid-template-columns: 200px 1fr;
  }

  h1 {
    font-size: $font-size-lg;
    margin: $spacer-none;
  }

  time {
    font-size: $font-size-sm;
  }

  p {
    font-size: $font-size-sm;
    margin: $spacer-sm $spacer-none;
  }

  footer {
    font-size: $font-size-sm;
    display: flex;
    flex-direction: column;
  }
}

.linkItemImageContainer {
  width: 100%;
  > div {
    position: unset !important;
  }
}

.linkItemImage {
  object-fit: cover;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.linkItemDetails {
  padding: $spacer;
  h1 {
    font-size: $font-size-heading-h5;
    font-weight: $font-weight-semibold;
    line-height: $line-height-sm;
  }
}

.linkItemInfo {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  @include md-breakpoint {
    // flex-direction: row;
    // align-items: center;
  }
  gap: $spacer-sm;
}

.linkTypesContainer {
  margin: $spacer-lg $spacer-none;
}

.linkItemTags {
  display: flex;
  gap: $spacer-sm;
  flex-wrap: wrap;
  font-size: $font-size-sm;
  > * {
    @include tag();
  }
}

.linkTypeSelector {
  cursor: pointer;
  &:hover {
    background-color: $light-dark-color;
    @include color-scheme(dark) {
      background-color: $dark-light-color;
    }
  }
}

.linkTypeSelectorCurrent {
  background-color: $light-dark-color;
  @include color-scheme(dark) {
    background-color: $dark-light-color;
  }
  &::before {
    content: "#";
    font-weight: $font-weight-bold;
  }
}

.linkItemDate {
  display: flex;
  align-items: center;
  gap: $spacer-sm;
  margin: $spacer-sm $spacer-none;
}
