@import "@/styles/variables.scss";
@import "@/styles/mixins";

.linkContainer {
  @include clickable-element-background();
  @include card();
  padding: $spacer;
  font-size: $font-size-heading-h6;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $spacer;
  width: 100%;
  cursor: pointer;
}
