@import "@/styles/breakpoints";
@import "@/styles/variables";

.navigationContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: $font-size-sm;
  gap: $spacer-lg;
  border-bottom: $border-width $border-style $background-lighter-color;

  @include md-breakpoint {
    flex-direction: row;
    border-bottom: none;
  }

  align-items: center;
  padding: $padding-lg $padding-none;
}

.navigationLogo {
  font-family: var(--font-family-monospace);
  text-transform: lowercase;
  color: $text-color;
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
}

.navigationListItem {
  font-size: $font-size-lg;
  @include md-breakpoint {
    font-size: $font-size-base;
  }
  display: flex;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  flex: 1;
  justify-content: flex-end;
  gap: 1.75rem;

  & > li {
    text-align: center;
    text-transform: lowercase;
    letter-spacing: 0px;

    a {
      text-decoration: none;
      color: $secondary-color;

      &:hover {
        color: $hyperlink-hover-color;
      }
    }
  }
}

.navigationListItemLink {
  display: flex;
  gap: $spacer-sm;
  align-items: center;
}
