@import "@/styles/breakpoints";
@import "@/styles/variables";
@import "@/styles/mixins";

.navigationLayoutContainer {
  background-color: $dark-darker-color;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 9;
}

.navigationContainer {
  flex: 1;
  @include md-breakpoint {
    max-width: $max-width;
  }
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: $font-size-sm;
  gap: $spacer-lg;

  @include md-breakpoint {
    flex-direction: row;
  }

  align-items: center;
  padding: $spacer-lg;
}

.navigationLogoContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menuToggle {
  display: block;
  font-size: $font-size-lg;
  color: $dark-foreground-color;

  > input[type="checkbox"] {
    width: 35px;
    height: 35px;
  }

  @include md-breakpoint {
    display: none;
  }
}

.navigationLogo {
  color: $white;
  display: flex;
  align-items: center;
  gap: $spacer;
  text-decoration: none;

  span {
    font-family: $font-family-title;
    font-weight: $font-weight-semibold;
  }

  img {
    @include border();
  }
}

.navigationListItem {
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  list-style: none;
  margin: 0 auto;
  padding: $spacer-none;
  justify-content: flex-end;
  gap: $spacer-sm;

  @include md-breakpoint {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.navigationItemThemeToggle {
  padding: $spacer;
}

.navigationListItemLink {
  // background-color: $dark-color;
  display: flex;
  gap: $spacer-sm;
  align-items: center;
  flex: 1;
  text-align: center;
  letter-spacing: 0px;
  color: $dark-title-color;
  text-decoration: none;
  transition: 200ms ease-in-out;

  &:hover {
    transition: 200ms ease-in-out;
    background-color: $dark-light-color;
  }
  padding: $spacer-sm;
}

.navigationListItemCurrent {
  background-color: $dark-lighter-color;
}

.navigationListItemIcon {
  font-size: $font-size-base;
}

.navigationListItemLabel {
  font-family: $font-family-title;
  text-transform: lowercase;
}

.navigationListChangeLanguageLabel {
  font-family: $font-family-title;
  @include md-breakpoint {
    display: none;
  }
}

.localeSelect {
  border: 0;
  border-radius: $border-radius-sm;
  padding: $spacer-xs;
  background-color: $light-dark-color;
  color: $light-title-color;
  @include color-scheme(dark) {
    background-color: $dark-lighter-color;
    color: $dark-title-color;
  }
}
