@import "@/styles/variables.scss";
@import "@/styles/mixins";

.notesContainer {
  list-style: none;
  padding: $spacer-none;
  display: grid;
  grid-template-columns: 1fr;

  @include sm-breakpoint {
    grid-template-columns: repeat(2, 1fr);
  }

  @include lg-breakpoint {
    grid-template-columns: repeat(3, 1fr);
  }
  gap: $spacer-lg;
}

.note {
  display: grid;
  gap: $spacer;
  font-weight: $font-weight-base;
  // @include card();
}

.noteItem {
  justify-content: space-between;
  align-items: center;
  display: flex;
  gap: $spacer-xs;
  font-size: $font-size-sm;
  align-items: flex-start;
  flex-direction: column;

  > h1 {
    font-size: $font-size-heading-h5;
    font-weight: $font-weight-semibold;
    margin: $spacer-none;
    flex: 1;
  }

  > time {
    font-size: $font-size-base;
    color: $light-foreground-color;
    font-weight: $font-weight-light;
    font-family: $font-family-code;
    min-width: 6rem;
    max-width: 6rem;

    @include color-scheme(dark) {
      color: $dark-foreground-color;
    }
  }
}

.cover {
  @include article-image();
  margin: 0;
}

.description {
  font-weight: $font-weight-base;
  font-size: $font-size-sm;
  color: $light-foreground-color;

  @include color-scheme(dark) {
    color: $dark-foreground-color;
  }
}

.readMore {
  color: $light-highlight-color;
  @include color-scheme(dark) {
    color: $dark-highlight-color;
  }
}
