@import "@/styles/variables.scss";
@import "@/styles/mixins";

.notesContainer {
  list-style: none;
  margin: $spacer-lg $spacer-none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: $spacer-lg;
}

.note {
  display: flex;
  flex-direction: column;
  // padding: $spacer;
  font-weight: $font-weight-base;
  // @include card();
}

.noteItem {
  flex: 1;
  justify-content: space-between;
  align-items: center;
  display: flex;
  gap: $spacer;
  font-size: $font-size-sm;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: $spacer;
  border-bottom-width: $border-width;
  border-bottom-style: $border-style;
  border-bottom-color: $light-border-color;
  @include color-scheme(dark) {
    border-bottom-color: $dark-border-color;
  }

  @include md-breakpoint {
    border-bottom: none;
    padding-bottom: $spacer-none;

    flex-direction: row;
    align-items: center;
  }

  > h1 {
    font-size: $font-size-base;
    font-weight: $font-weight-base;
    margin: $spacer-none;
    flex: 1;
  }

  > time {
    font-size: $font-size-base;
    color: $light-foreground-color;
    font-weight: $font-weight-light;
    font-family: $font-family-code;
    min-width: 6rem;
    max-width: 6rem;

    @include color-scheme(dark) {
      color: $dark-foreground-color;
    }
  }
}

.description {
  font-weight: $font-weight-base;
  font-size: $font-size-sm;
  color: $light-foreground-color;

  @include color-scheme(dark) {
    color: $dark-foreground-color;
  }
}

.readMore {
  color: $light-highlight-color;
  @include color-scheme(dark) {
    color: $dark-highlight-color;
  }
}
