@import "@/styles/variables.scss";
@import "@/styles/mixins";

.notesContainer {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.note {
  display: flex;
}

.noteItemContainer {
  border-bottom-width: $border-width;
  border-bottom-style: $border-style;
  border-bottom-color: $light-border-color;
  @include color-scheme(dark) {
    border-bottom-color: $dark-border-color;
  }
  padding: $spacer $spacer-none;

  &:last-child {
    border-bottom: none;
  }
}

.noteItem {
  flex: 1;
  justify-content: space-between;
  align-items: center;
  display: flex;
  gap: $spacer-sm;
  font-size: $font-size-sm;
  align-items: flex-start;
  flex-direction: column;

  @include md-breakpoint {
    flex-direction: row;
  }

  h1 {
    font-size: $font-size-base;
    font-weight: $font-weight-semibold;
    margin: $spacer-none;
    flex: 1;
  }

  > time {
    color: $light-foreground-color;

    @include color-scheme(dark) {
      color: $dark-foreground-color;
    }
  }
}
