@import "@/styles/variables.scss";
@import "@/styles/breakpoints.scss";
@import "@/styles/mixins";

.paperElement {
  @include card();
  p {
    font-size: $font-size-sm;
    color: $light-foreground-color;
    @include color-scheme(dark) {
      color: $dark-foreground-color;
    }
    padding: $spacer-sm $spacer;
  }
}

.paperTitle {
  padding: $spacer $spacer;
  background-color: $light-darker-color;
  @include color-scheme(dark) {
    background-color: $dark-light-color;
  }
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: $spacer-xs;
  h2 {
    margin: 0;
    font-size: $font-size-base;
  }

  div {
    font-size: $font-size-sm;
  }
}

.paperDetails {
  display: flex;
  background-color: $light-darker-color;

  @include color-scheme(dark) {
    background-color: $dark-lighter-color;
  }
  padding: $spacer;
  font-size: $font-size-sm;
  font-weight: $font-weight-semibold;
  justify-content: space-between;
  gap: $spacer;
  align-items: center;
}

.paperYear {
  color: $light-foreground-color;
  @include color-scheme(dark) {
    color: $dark-foreground-color;
  }
}

.paperDownloadButton {
  padding: $spacer-sm $spacer-xl;
}
