@import "@/styles/variables.scss";
@import "@/styles/mixins";

.postsContainer {
  display: grid;
  list-style: none;
  padding: $spacer-none;
  grid-template-columns: 1fr;

  @include sm-breakpoint {
    grid-template-columns: repeat(2, 1fr);
  }

  @include md-breakpoint {
    grid-template-columns: 1fr 1fr 1fr;
  }
  gap: $spacer;
}

.post {
  display: grid;
  gap: $spacer-xs;
  font-weight: $font-weight-base;
  @include card();
}

.postItem {
  justify-content: space-between;
  display: flex;
  gap: $spacer-xs;
  font-size: $font-size-sm;
  align-items: flex-start;
  flex-direction: column;
  padding: $spacer-xs $spacer;

  > h1 {
    font-size: $font-size-heading-h5;
    font-weight: $font-weight-semibold;
    margin: $spacer-none;
    flex: 1;
  }

  > time {
    font-size: $font-size-base;
    color: $light-foreground-color;
    font-weight: $font-weight-light;
    font-family: $font-family-code;

    @include color-scheme(dark) {
      color: $dark-foreground-color;
    }
  }
}

.postTags {
  justify-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: $spacer-xs;
  font-size: $font-size-xs;
  align-items: flex-start;
  padding: $spacer-sm $spacer;
}

.postMetadata {
  justify-content: space-between;
  display: flex;
  gap: $spacer;
  align-items: center;
  padding: $spacer;
  font-size: $font-size-xs;

  > div:first-child {
    display: flex;
    gap: $spacer-xs;
  }

  > div:last-child {
    display: flex;
    gap: $spacer-xs;
  }
}

.postTag {
  @include tag();
}

.cover {
  @include article-image();
  @include image-hover-zoom();
  aspect-ratio: 16/9;
  overflow: hidden;
  margin: 0;
}

.description {
  font-weight: $font-weight-base;
  font-size: $font-size-sm;
  color: $light-foreground-color;

  @include color-scheme(dark) {
    color: $dark-foreground-color;
  }
}

.readMore {
  color: $light-highlight-color;
  @include color-scheme(dark) {
    color: $dark-highlight-color;
  }
}
