@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.section {
  padding: $spacer $spacer-none;
  border-bottom-width: $border-width;
  border-bottom-style: $border-style;
  border-bottom-color: $light-border-color;
  @include color-scheme(dark) {
    border-bottom-color: $dark-border-color;
  }
}
