@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.section {
  margin: $spacer $spacer-none;
  padding-left: $spacer;
  letter-spacing: -1px;
  border-left-width: $border-width-thick;
  border-left-style: $border-style;
  border-left-color: $light-border-color;
  @include color-scheme(dark) {
    border-left-color: $dark-border-color;
  }
}
