@import "@/styles/variables";
@import "@/styles/mixins";

.socialIconsContainer {
  display: flex;
  gap: $spacer-lg;
  margin: 1rem 0;

  a {
    font-size: $font-size-heading-h2;
    font-weight: 400;
    text-decoration: none;
    transition: 200ms;

    color: $light-highlight-color;

    @include color-scheme(dark) {
      color: $dark-highlight-color;
    }

    &:hover {
      color: $light-highlight-hover-color;

      @include color-scheme(dark) {
        color: $dark-highlight-hover-color;
      }
      transition: 200ms;
    }
  }
}
