{{/* A gamepad, hand-drawn: the icon set the rest of these come from has none. One
  evenodd path so the d-pad and the two buttons are holes in the body rather than
  a second colour, which keeps it a single `currentColor` glyph like its siblings.
*/}}
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6" aria-hidden="true">
  <path
    fill-rule="evenodd"
    d="M6.5 5.5h11A5.5 5.5 0 0 1 23 11v2a5.5 5.5 0 0 1-5.5 5.5h-11A5.5 5.5 0 0 1 1 13v-2a5.5 5.5 0 0 1 5.5-5.5ZM6.6 8.6v2.3H4.3v2.2h2.3v2.3h2.2v-2.3h2.3v-2.2H8.8V8.6H6.6Zm10.15.7a1.25 1.25 0 1 0 0 2.5 1.25 1.25 0 0 0 0-2.5Zm2.5 2.7a1.25 1.25 0 1 0 0 2.5 1.25 1.25 0 0 0 0-2.5Z"
    clip-rule="evenodd"
  />
</svg>
