{{ define "main" }}
  <div class="max-w-prose">
  <article data-pagefind-body>
    <header class="mb-10">
      <a
        data-pagefind-ignore
        href="{{ .CurrentSection.RelPermalink }}"
        class="inline-flex items-center gap-1 text-xs mb-6 text-secondary hover:text-secondary"
      >
        ←
        {{ .CurrentSection.Title }}
      </a>

      <div class="flex items-center gap-3 mb-2">
        {{ with .Params.issue }}
          <span class="badge badge-primary">#{{ . }}</span>
        {{ end }}
        <time class="text-xs font-mono" datetime="{{ .Date.Format "2006-01-02" }}">
          {{ .Date.Format "January 2, 2006" }}
        </time>
      </div>

      <h1 class="font-sans text-4xl font-medium text-base-content">
        {{ .Title | title }}
      </h1>
    </header>

    <div class="prose prose-headings:font-sans max-w-none">
      {{ .Content }}
    </div>
  </article>

  <footer data-pagefind-ignore class="mt-6 border-t-4 border-base-300">
    {{ partial "prev-next-nav.html" . }}
  </footer>
  </div>
{{ end }}
