@import "@/styles/variables.scss";
@import "@/styles/mixins";

.profilePhotoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profilePhoto {
  border-radius: 50%;
}

.presentation {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: $spacer-lg;
}

.title {
  font-weight: $font-weight-bold;
  letter-spacing: -0.05em;
  margin-bottom: $spacer-none;
}

.username {
  font-family: var(--font-family-monospace);
  font-size: $font-size-heading-h4;
  margin: $spacer-none;
}

.links {
  display: flex;
  flex-direction: column;
  gap: $spacer;
}
