@import "@/styles/variables.scss";
@import "@/styles/mixins";

.contentSearch {
  display: flex;
  gap: $spacer;
  margin-bottom: $spacer-xl;

  input {
    width: 100%;
    border: 1px solid $background-dark-color;
    padding: $padding-base;
    color: $secondary-color;

    &:hover {
      cursor: not-allowed;
    }
  }
}

.contentContainer {
  display: flex;
  flex-direction: column;
  gap: $spacer;
}

.contentDetails {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: $secondary-color;

  > * {
    content: "";
    align-self: stretch;
    padding: $padding-none $padding-lg $padding-none $padding-none;

    &:not(:first-child) {
      border-left: 1px solid $background-dark-color;
      padding: $padding-none $padding-lg;
    }
  }
}

.contentTimeStamp {
  order: -1;
}

.contentReadingTime {
  display: flex;
  gap: $margin-sm;
  align-items: center;
}

.contentCategory {
  font-weight: $font-weight-semibold;
}
