@import "@/styles/variables.scss";
@import "@/styles/mixins";

.contentSearch {
  display: flex;
  gap: $spacer;
  margin-bottom: $spacer-xl;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  gap: $spacer;
}

.contentDetails {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: $light-foreground-color;
  @include color-scheme(dark) {
    color: $dark-foreground-color;
  }

  > * {
    content: "";
    align-self: stretch;
    padding: $spacer-none $spacer-lg $spacer-none $spacer-none;

    &:not(:first-child) {
      border-left-width: $border-width;
      border-left-style: $border-style;
      border-left-color: $light-border-color;
      @include color-scheme(dark) {
        border-left-color: $dark-border-color;
      }
      padding: $spacer-none $spacer-lg;
    }
  }
}

.contentTimeStamp {
  order: -1;
}

.contentReadingTime {
  display: flex;
  gap: $spacer-sm;
  align-items: center;
}

.contentCategory {
  font-weight: $font-weight-semibold;
}
