@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.noteTitle {
  font-size: $font-size-heading-h1 * 1.25;
  font-weight: $font-weight-bold;
}

.noteDescription {
  color: $light-foreground-color;
  @include color-scheme(dark) {
    color: $dark-foreground-color;
  }
  font-size: $font-size-sm;
}

.noteDetails {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;

  @include md-breakpoint {
    flex-direction: row;
    align-items: center;
  }

  border-top-width: $border-width;
  border-top-style: $border-style;
  border-top-color: $light-border-color;
  @include color-scheme(dark) {
    border-top-color: $dark-border-color;
  }
  padding: $spacer $spacer-none;
  font-size: $font-size-sm;
  gap: $spacer;

  > * {
    align-items: center;
  }

  .noteDetailsTimestamp {
    display: flex;
    gap: $spacer-sm;
    > *:not(:first-child) {
      font-weight: $font-weight-base;
    }
  }

  .noteDetailsCategory {
    display: flex;
    gap: $spacer-sm;
    > span:not(:first-child) {
      font-weight: $font-weight-bold;
    }
  }

  .noteDetailsTags {
    display: flex;
    align-items: center;
    gap: $spacer-sm;
  }

  .noteDetailsTagsList {
    display: flex;
    align-items: center;
    gap: $spacer-sm;
    flex-wrap: wrap;
    > span {
      @include tag();
    }
  }
}

.cover {
  @include article-image();
}

.content {
  line-height: $line-height-lg;

  p {
    margin: $spacer-lg 0;
    code {
      @include border-radius();
      font-family: var(--font-family-monospace);

      background-color: $light-dark-color;
      @include color-scheme(dark) {
        background-color: $dark-lighter-color;
      }
      padding: $spacer-xs;
    }
  }

  ul {
    padding: $spacer-none $spacer-lg;
    margin: $spacer-lg $spacer-none;
    list-style: square;
  }

  blockquote {
    @include border-radius();
    @include box-shadow();
    background-color: $light-dark-color;
    @include color-scheme(dark) {
      background-color: $dark-lighter-color;
    }
    padding: $spacer-sm $spacer;
    margin: $spacer-xl $spacer-sm;
  }
}
