@use "sass:color";
@import "variables";
@import "breakpoints";

body {
  margin: 0;
  padding: 0;
  background-color: $background-color;
  color: $text-color;
}

@import "typography";
@import "tables";
@import "buttons";
