@import "tailwindcss";

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/aspect-ratio';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-*: initial;
  --color-transparent: transparent;
  --color-current: currentColor;

  --color-neutral-50: #fafafa;
  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #e5e5e5;
  --color-neutral-300: #d4d4d4;
  --color-neutral-400: #a3a3a3;
  --color-neutral-500: #737373;
  --color-neutral-600: #525252;
  --color-neutral-700: #404040;
  --color-neutral-800: #262626;
  --color-neutral-900: #171717;
  --color-neutral-950: #0a0a0a;

  --color-black: #000;
  --color-white: #fff;

  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;
  --color-gray-950: #030712;

  --color-emerald-50: #ecfdf5;
  --color-emerald-100: #d1fae5;
  --color-emerald-200: #a7f3d0;
  --color-emerald-300: #6ee7b7;
  --color-emerald-400: #34d399;
  --color-emerald-500: #10b981;
  --color-emerald-600: #059669;
  --color-emerald-700: #047857;
  --color-emerald-800: #065f46;
  --color-emerald-900: #064e3b;
  --color-emerald-950: #022c22;

  --color-spring-wood-50: #f8f7f3;
  --color-spring-wood-100: #f0eee4;
  --color-spring-wood-200: #dfdac9;
  --color-spring-wood-300: #cbc2a6;
  --color-spring-wood-400: #b5a582;
  --color-spring-wood-500: #a5906a;
  --color-spring-wood-600: #98805e;
  --color-spring-wood-700: #7f694f;
  --color-spring-wood-800: #685644;
  --color-spring-wood-900: #554739;
  --color-spring-wood-950: #2d251d;
}

@theme inline {
  --font-sans: var(--font-custom-sans), sans-serif;
}

body {
  @apply bg-spring-wood-50 dark:bg-neutral-900 text-gray-600 dark:text-gray-400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "cv11", "salt", "ss01", "ss03", "cv01", "cv02", "cv03", "cv04", "cv05", "cv06", "cv09", "cv10";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-hubot);
  @apply text-neutral-700 dark:text-neutral-50 tracking-tight;
}

main > p,
details > p {
  @apply leading-loose my-6;
}
p a {
  @apply relative inline-block underline hover:no-underline text-spring-wood-900 dark:text-neutral-200 duration-200 hover:duration-200;
}
