@tailwind base;
@tailwind components;
@tailwind utilities;

@import "layout.css";
@import "footer.css";
@import "pages.css";
@import "navigation.css";
@import "buttons.css";
@import "card.css";
@import "papers.css";
@import "posts.css";
@import "tags.css";
@import "author.css";
@import "social.css";
@import "links.css";
@import "typography.css";

body {
  @apply bg-spring-wood-50 dark:bg-gray-900;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "cv11", "salt", "ss01", "ss03", "cv01", "cv02", "cv03", "cv04", "cv05", "cv06", "cv09", "cv10";
}
