@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-spring-wood-50 dark:bg-neutral-900 text-gray-600 dark:text-gray-400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "cv11", "salt", "ss01", "ss03", "cv01", "cv02", "cv03", "cv04", "cv05", "cv06", "cv09", "cv10";
}

h1,h2,h3,h4,h5,h6 {
  font-family: var(--font-hubot);
  @apply text-neutral-700 dark:text-neutral-50 tracking-tight;
}

p a {
  @apply relative inline-block bg-spring-wood-200 hover:bg-spring-wood-300/70 dark:bg-emerald-900 dark:hover:bg-emerald-700 px-1.5 no-underline hover:underline text-spring-wood-900 dark:text-neutral-200 duration-200 hover:duration-200;
}
