@import "@/styles/variables";
@import "@/styles/breakpoints";

@mixin box-shadow {
  box-shadow: $box-shadow-x $box-shadow-y $box-shadow-blur $dark-light-color;
  @include color-scheme(dark) {
    box-shadow: $box-shadow-x $box-shadow-y $box-shadow-blur $light-dark-color;
  }
}

@mixin border {
  border-width: $border-width;
  border-style: $border-style;
  border-color: $light-border-color;
  @include color-scheme(dark) {
    border-color: $dark-border-color;
  }
}

@mixin border-radius {
  border-radius: $border-radius;
  overflow: hidden;
}

@mixin card {
  // @include box-shadow();
  @include border();
  @include border-radius();
  overflow: hidden;
}

@mixin clickable-element-background {
  background-color: $light-dark-color;
  color: $light-title-color;
  @include color-scheme(dark) {
    background-color: $dark-lighter-color;
    color: $dark-title-color;
  }
}

@mixin tag {
  @include clickable-element-background();
  border-radius: $border-radius-sm;
  padding: $spacer-xs $spacer-sm;
  font-size: $font-size-sm;
  font-weight: $font-weight-semibold;
  font-family: var(--font-family-monospace);
  &::before {
    content: "#";
    color: $light-foreground-color;
    @include color-scheme(dark) {
      color: $dark-foreground-color;
    }
    font-weight: $font-weight-base;
  }
}

@mixin article-image {
  margin: $spacer-xl $spacer-none;
  display: block;
  position: relative;
  aspect-ratio: 16/9;

  @include md-breakpoint {
    margin: 0;
  }

  > img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
  }
}

@mixin image-hover-zoom {
  > img {
    transition: transform 0.25s ease;
    &:hover {
      transform: scale(1.05);
    }
  }
}

%clearfix {
  &:after,
  &:before {
    content: "";
    display: block;
    width: 100%;
    clear: both;
  }
}

@mixin color-scheme($value: light) {
  @media (prefers-color-scheme: $value) {
    @content;
  }
}
