@use "sass:color";
@import "@/styles/variables";
@import "@/styles/mixins";

table {
  min-width: 100%;
  max-width: 100%;
  border-width: $border-width;
  border-style: $border-style;
  border-color: $light-border-color;
  @include color-scheme(dark) {
    border-color: $dark-border-color;
  }
  border-collapse: collapse;

  th {
    background-color: $light-dark-color;
    color: $light-foreground-color;
    @include color-scheme(dark) {
      background-color: $dark-light-color;
      color: $dark-foreground-color;
    }
  }
  td {
    padding: 0.25rem 0.5rem;
    border-width: $border-width;
    border-style: $border-style;
    border-color: $light-border-color;
    @include color-scheme(dark) {
      border-color: $dark-border-color;
    }
  }
  tr:nth-child(even) {
    background-color: $light-dark-color;
    @include color-scheme(dark) {
      background-color: $dark-light-color;
    }
  }

  tr:nth-child(odd) {
    background-color: $light-darker-color;
    @include color-scheme(dark) {
      background-color: $dark-lighter-color;
    }
  }
}

th {
  background-color: black;
  font-weight: calc($font-weight-base + 200);
}
