@use "sass:color";
@import "@/styles/variables";

table {
  min-width: 100%;
  max-width: 100%;
  border: $border-width $border-style $background-dark-color;
  border-collapse: collapse;

  th {
    background-color: color.scale($background-dark-color, $lightness: -50%);
    color: $text-color-inverted;
  }
  td {
    padding: 0.25rem 0.5rem;
    border: $border-width $border-style $background-dark-color;
  }
  tr:nth-child(even) {
    background-color: color.scale($background-color, $lightness: -5%);
  }

  tr:nth-child(odd) {
    background-color: color.scale($background-color, $lightness: -10%);
  }
}

th {
  background-color: black;
  font-weight: calc($font-weight-base + 200);
}
