// Layout
$spacer-none: 0;
$spacer: 1rem !default;
$spacer-xs: $spacer * 0.25;
$spacer-sm: $spacer * 0.5;
$spacer-lg: $spacer * 1.5;
$spacer-xl: $spacer * 2.5;

$xs-breakpoint: 360px;
$sm-breakpoint: 768px;
$md-breakpoint: 1024px;
$lg-breakpoint: 1920px;

$max-width: $md-breakpoint;

$border-width: 2px;
$border-width-thick: 5px;
$border-style: solid;
$border-radius: 10px;
$border-radius-sm: 5px;

$white: rgb(244, 244, 245);
$light-gray: #c8c8c8;
$dark-gray: #18181a;
$black: #0e1117;
$indian-yellow: #e09e50;
$cornflower-blue: #8194dd;
$japanese-indigo: #2d3e4e;

// Dark theme colors
$dark-color: $black;
$dark-lighter-color: lighten($dark-color, 20%);
$dark-light-color: lighten($dark-color, 5%);
$dark-dark-color: darken($dark-color, 5%);
$dark-darker-color: darken($dark-color, 20%);

$dark-background-color: $dark-color;
$dark-highlight-color: $indian-yellow;
$dark-highlight-hover-color: lighten($dark-highlight-color, 15%);
$dark-title-color: $white;
$dark-foreground-color: $light-gray;
$dark-foreground-hover-color: darken($dark-foreground-color, 15%);
$dark-foreground-inverted-color: $dark-light-color;
$dark-border-color: $dark-lighter-color;

// Light theme colors
$light-color: $white;
$light-lighter-color: lighten($light-color, 20%);
$light-light-color: lighten($light-color, 5%);
$light-dark-color: darken($light-color, 5%);
$light-darker-color: darken($light-color, 10%);

$light-background-color: $light-color;
$light-highlight-color: $japanese-indigo;
$light-highlight-hover-color: lighten($light-highlight-color, 15%);
$light-title-color: $black;
$light-foreground-color: $dark-gray;
$light-foreground-hover-color: darken($light-foreground-color, 15%);
$light-foreground-inverted-color: $light-dark-color;
$light-border-color: $light-darker-color;

$box-shadow-y: 5px;
$box-shadow-x: 5px;
$box-shadow-blur: 10px;

$font-family-body: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
  "Helvetica Neue", sans-serif;
$font-family-title: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
  "Helvetica Neue", sans-serif;
$font-family-code: var(--font-family-monospace), monospace;

$font-size-base: 16px;
$font-size-xs: $font-size-base * 0.7 !default;
$font-size-sm: $font-size-base * 0.85 !default;
$font-size-lg: $font-size-base * 1.25 !default;

$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-semibold: 600 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;

$font-weight-base: $font-weight-normal !default;

$line-height-base: 1.75 !default;
$line-height-sm: 1.5 !default;
$line-height-lg: 2 !default;

// Headings properties
$font-size-heading-h1: $font-size-base * 2.5 !default;
$font-size-heading-h2: $font-size-base * 1.75 !default;
$font-size-heading-h3: $font-size-base * 1.5 !default;
$font-size-heading-h4: $font-size-base * 1.35 !default;
$font-size-heading-h5: $font-size-base * 1.2 !default;
$font-size-heading-h6: $font-size-base !default;

$headings-margin-bottom: $spacer * 0.5 !default;
$headings-font-weight: 500 !default;
$headings-line-height: 1.2 !default;
