{{ define "main" }}
  <header class="mb-10">
    <div class="flex items-center justify-between">
      <div>
        <h1 class="font-display text-4xl font-semibold text-base-content">
          {{ .Title | title }}
        </h1>

        {{ with .Description }}<p class="mt-3 text-sm text-accent-content">{{ . | markdownify }}</p>{{ end }}


        <div class="mt-4 flex items-center gap-4">
          {{ with .Params.updated }}
            {{ $updated := time.AsTime . }}
            <span class="text-xs text-secondary font-mono" title="Updated {{ $updated.Format "January 2, 2006" }}">
              Last Updated
              {{ $updated.Format "January 2, 2006" }}
            </span>
          {{ end }}

          {{ with .Params.tags }}
            <div class="flex gap-2 flex-wrap">
              {{ range . }}
                <a href="{{ "/tags/" | relURL }}{{ . | urlize }}" class="badge badge-ghost badge-sm">#{{ . }}</a>
              {{ end }}
            </div>
          {{ end }}
        </div>
      </div>
      <a
        href="/blog/index.xml"
        target="_blank"
        rel="noopener noreferrer"
        class="text-secondary hover:text-secondary  flex items-center gap-1"
      >
        <span class="w-6">
          {{ partial "icons/social/rss.html" . }}
        </span>
        <span class="sr-only">RSS Feed</span>
      </a>
    </div>
  </header>

  {{ with .Content }}
    <div class="prose leading-loose prose-headings:font-display max-w-3xl mb-10">{{ . }}</div>
  {{ end }}

  {{ if .Pages }}

    {{ range (.Pages.ByDate.Reverse).GroupByDate "2006" }}
      <section class="mb-10">
        <h2 class="font-display text-xs font-semibold uppercase tracking-widest mb-5 text-secondary">
          {{ .Key }}
        </h2>
        <ul class="list-none p-0 m-0">
          {{ range .Pages }}
            <li
              class="flex flex-col hover:bg-secondary/10  duration-200 gap-1 py-8 md:p-8 border-b border-secondary/20 border-dashed"
            >
              <div class="flex items-center justify-between gap-4 min-w-0">
                <h2>
                  <a href="{{ .RelPermalink }}" class="text-lg font-semibold text-base-content hover:opacity-60 ">
                    {{ .Title }}
                  </a>
                </h2>
                <time
                  class="text-xs font-mono tabular-nums text-secondary shrink-0"
                  datetime="{{ .Date.Format "2006-01-02" }}"
                >
                  {{ .Date.Format "2006-02-01" }}
                </time>
              </div>
              {{/* Excerpt/Summary */}}
              <div class="text-sm text-base-content/70 line-clamp-2">
                {{ with .Description }}{{ . | plainify }}{{ else }}{{ .Plain | truncate 120 }}{{ end }}
              </div>
              <div class="flex flex-col md:flex-row md:items-center gap-2 mt-1">
                <div class="flex flex-wrap gap-2">
                  {{ with .Params.categories }}
                    {{ range . }}
                      <a href="{{ "/categories/" | relURL }}{{ . | urlize }}">
                        <span class="badge badge-accent badge-sm hover:opacity-70 ">{{ . }}</span>
                      </a>
                    {{ end }}
                  {{ end }}
                  {{ with .Params.tags }}
                    {{ range . }}
                      <a href="{{ "/tags/" | relURL }}{{ . | urlize }}">
                        <span class="badge badge-ghost badge-sm">#{{ . }}</span>
                      </a>
                    {{ end }}
                  {{ end }}
                </div>
                <div>
                  {{/* Flag emoji by language */}}
                  {{ $lang := .Params.language | default "en" }}
                  <span class="badge badge-soft badge-sm"
                    >{{ if eq $lang "pt" }}Portuguese (🇧🇷){{ else }}English (🇺🇸){{ end }}
                  </span>
                </div>
              </div>
            </li>
          {{ end }}
        </ul>
      </section>
    {{ end }}

  {{ else }}
    <p class="text-sm text-secondary">Nothing here yet.</p>
  {{ end }}
{{ end }}
