{{ define "main" }}
  <div class="max-w-prose">
  <article
    data-pagefind-body
    class="prose prose-headings:font-sans prose-pre:my-0 prose-pre:p-2 prose-img:mx-auto prose-img:border-4 prose-img:border-base-200 prose-figure:text-center prose-img:shadow-md max-w-none"
  >
    <header class="mb-10">
      {{ with .CurrentSection }}
        {{ if not .IsHome }}
          <a
            data-pagefind-ignore
            href="{{ .RelPermalink }}"
            class="inline-flex items-center gap-1 text-xs mb-6 text-secondary hover:text-secondary "
          >
            ←
            {{ .Title }}
          </a>
        {{ end }}
      {{ end }}

      {{ $hasDate := not .Date.IsZero }}
      {{ if $hasDate }}
        <div class="mb-2">
          <time class="text-xs" datetime="{{ .Date.Format "2006-01-02" }}">
            {{ .Date.Format "January 2, 2006" }}
          </time>
        </div>
      {{ end }}


      <h1 class="font-sans text-4xl lg:text-5xl font-extrabold tracking-tight text-base-content">
        {{ .Title | title }}
      </h1>

      {{ with .Description }}
        <p class="mt-3 text-sm text-base-content/80">{{ . }}</p>
      {{ end }}
    </header>

    {{ with .Params.cover }}
      <figure class="mb-10 w-full">
        {{ partial "responsive-image.html" (dict "page" $ "src" . "alt" $.Title "class" "w-full border-4 border-base-200 shadow-md object-cover" "width" "800") }}
        {{ with $.Params.coverCaption }}
          <figcaption class="mt-2 text-xs text-center text-secondary">
            {{ . | markdownify }}
          </figcaption>
        {{ end }}
      </figure>
    {{ end }}


    <div>
      {{ partial "disclaimer-alert.html" . }}
      {{ .Content }}
    </div>
  </article>
  <hr class="my-4 border-base-200" />
  <div class="mt-4 flex flex-col text-sm">
    {{ $hasCategories := .Params.Categories }}
    {{ $hasTags := .Params.tags }}

    {{ with .Params.Categories }}
      <div class="flex py-2 gap-1 flex-wrap items-center">
        <span class="p-2">Categories</span>
        {{ $num := len . }}
        {{ range $i, $cat := . }}
          <a
            href="{{ "/categories/" | relLangURL }}{{ $cat | urlize }}/"
            data-pagefind-filter="category"
            class="badge badge-primary"
            >{{ $cat }}</a
          >{{ if lt (add $i 1) $num }}<span class="mx-1">·</span>{{ end }}
        {{ end }}
      </div>
    {{ end }}

    {{ with .Params.tags }}
      <div class="flex py-2 gap-1 flex-wrap items-center">
        <span class="p-2">Tags</span>
        {{ $num := len . }}
        {{ range $i, $tag := . }}
          <a href="{{ "/tags/" | relLangURL }}{{ $tag | urlize }}/" data-pagefind-filter="tag" class="badge badge-ghost"
            >#{{ $tag }}</a
          >{{ if lt (add $i 1) $num }}<span class="mx-1">·</span>{{ end }}
        {{ end }}
      </div>
    {{ end }}
  </div>
  <section data-pagefind-ignore class="mt-8 border-t-4 border-base-300 pt-8">
    {{ partial "disqus.html" . }}
  </section>
  <footer data-pagefind-ignore class="mt-6 border-t-4 border-base-300">
    {{ partial "prev-next-nav.html" . }}
  </footer>
  </div>
{{ end }}
