@import "@/styles/variables.scss";

.cover {
  position: relative;
  aspect-ratio: 16/9;

  > img {
    object-fit: cover;
  }
}

.content {
  line-height: $line-height-lg;

  p {
    margin: $margin-lg 0;
  }

  ul {
    padding: $padding-none $padding-lg;
    margin: $margin-lg $margin-none;
    list-style: square;
  }
}
