{{ define "main" }}
  <article data-pagefind-body class="max-w-prose">
    {{ partial "header.html" . }}

    {{/* Optional cover image — add `cover: "/path/to/image.jpg"` to front matter */}}

    {{ with .Params.cover }}
      <figure class="mb-10 md:px-10">
        {{ partial "responsive-image.html" (dict "page" $ "src" . "alt" $.Title "class" "w-full border-4 border-base-200 shadow-md object-cover" "width" "800") }}
        {{ with $.Params.coverCaption }}
          <figcaption class="mt-2 text-xs text-center text-secondary">
            {{ . | markdownify }}
          </figcaption>
        {{ end }}
      </figure>
    {{ end }}


    <div
      class="prose prose-headings:font-sans prose-headings:font-semibold prose-base prose-img:w-full prose-img:border-4 prose-img:border-base-200 prose-img:shadow-md max-w-none"
    >
      {{ partial "disclaimer-alert.html" . }}
      {{ .Content }}
    </div>
  </article>
{{ end }}
