.title {
  letter-spacing: -1px;
  text-transform: uppercase;
  font-weight: 700;

  a {
    text-decoration: none;
    color: $gray-600 !important;
  }
}

.navbar-container {
  border-top: 5px solid $gray-200;
}

.navbar-brand {
  max-height: 40px;
  padding: 0 !important;
}

.main-navbar {
  text-transform: lowercase;
  font-weight: 300;

  @include media-breakpoint-down(md) {
    li {
      border-bottom: 1px solid $gray-300;
    }
  }
  // font-size: 90%;
}

.active {
  // text-shadow: 0px 0px 3px rgba($color: #fff, $alpha: 0.7);
  font-weight: bolder;
  @include media-breakpoint-up(md) {
    border-bottom: 2px solid $gray-400;
  }
}
