{{ define "main" }}
  <article data-pagefind-body class="max-w-prose">
    {{ partial "header.html" . }}


    <div class="prose prose-headings:font-sans prose-base max-w-none">
      {{ .Content }}
      {{ partial "section-label.html" (dict "text" (i18n "academic_latest_publications")) }}
      {{/* Pull papers from data files */}}
      <ul>
        {{ $papers := index site.Data site.Language.Lang "papers" }}
        {{ range sort $papers "year" "desc" }}
          <li class="mb-4">
            <a href="{{ .link }}" class="link link-primary font-medium">
              {{ .title }}
            </a>
            {{ with .year }}
              <span class="badge badge-secondary badge-sm ml-2">{{ . }}</span>
            {{ end }}
          </li>
        {{ end }}
      </ul>
    </div>
  </article>
{{ end }}
