.jumbotron {
  // text-shadow: 2px 2px 1px #000;

  .post-details {
    font-size: $font-size-base * 0.75;
  }

  .bg-image {
    @include media-breakpoint-up(md) {
      max-height: 300px;
    }
    @include media-breakpoint-up(lg) {
      max-height: 500px;
    }
  }

  &-title {
    // font-family: "Source Serif Pro", sans-serif;
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: -3px;
  }
}
