<header class="mb-10">
  <h1 class="font-sans text-4xl lg:text-5xl font-extrabold tracking-tight text-base-content">
    {{ .Title | title }}
  </h1>

  {{ with .Description }}
    <p class="mt-3 text-sm text-base-content/70 prose max-w-none!">{{ . | markdownify }}</p>
  {{ end }}


  <div class="mt-4">
    {{ with .Params.updated }}
      {{ $updated := time.AsTime . }}
      {{ $updatedStr := partial "formatted-date.html" $updated }}
      <p
        class="mb-4 border-l-4 border-accent pl-4 font-heading text-sm text-base-content"
        title="{{ i18n "last_updated_label" }} {{ $updatedStr }}"
      >
        {{ i18n "last_updated_label" }}
        {{ $updatedStr }}
      </p>
    {{ end }}

    {{ with .Params.tags }}
      <div class="flex items-center gap-2 flex-wrap">
        {{ range . }}
          <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" class="badge badge-outline badge-accent badge-sm"
            >#{{ . }}</a
          >
        {{ end }}
      </div>
    {{ end }}
  </div>
</header>
