{{/* ── Sidebar ────────────────────────────────────────────── */}}
<aside
  id="sidebar"
  aria-label="Menu sidebar"
  class="hidden lg:flex flex-col sticky top-0 overflow-y-auto w-64 2xl:w-72 z-40 shrink-0"
>
  <div class="flex flex-col flex-1 px-6 py-8 2xl:px-8 2xl:py-12">
    {{/* Site identity */}}
    <div class="h-card mb-6 flex flex-col justify-center items-center">
      {{ $profile := resources.Get "images/profile/profile.jpg" }}
      {{ with $profile }}
        {{ $resized := .Fit "288x288" }}
        <img
          src="{{ $resized.RelPermalink }}"
          width="{{ $resized.Width }}"
          height="{{ $resized.Height }}"
          alt="{{ $.Site.Title }}"
          class="u-photo w-32 h-32 rounded-sm object-cover mb-4 ring-2 shadow-md shadow-black/50 ring-neutral-content/20"
          loading="lazy"
        />
      {{ end }}
      <a
        href="{{ .Site.Home.RelPermalink }}"
        class="u-url flex gap-4 items-center justify-center text-3xl font-semibold tracking-tight text-base-content hover:opacity-80 "
        rel="me"
      >
        <span class="font-bold tracking-tighter p-name">{{ .Site.Title }}</span>
      </a>
      <p class="p-note text-center mt-2 text-xs text-base-content/60 leading-relaxed">{{ i18n "site_description" }}</p>
    </div>
    {{ partial "social.html" . }}
    {{ partial "search.html" . }}

    {{/* Navigation */}}
    {{ partial "nav-menu.html" (dict "page" . "variant" "desktop") }}
    {{ partial "webring.html" }}
    {{/* Bottom: theme toggle + copyright */}}
    <div class="mt-6 pt-6 border-t border-neutral/10 flex flex-col gap-6 items-center justify-between">
      <div class="text-xs text-center">
        {{ partial "sidebar-footer-meta.html" (dict "page" . "variant" "desktop") }}
      </div>
      <div class="flex items-center gap-2">
        {{ partial "language-switcher.html" . }}
        {{ partial "theme-toggle-button.html" "theme-toggle-desktop" }}
      </div>
    </div>
  </div>
</aside>
