{{ define "main" }}
  <article data-pagefind-body>
    {{ partial "header.html" . }}

    {{ with .Params.cover }}
      <figure class="mb-10 md:px-10">
        {{ partial "responsive-image.html" (dict "page" $ "src" . "alt" $.Title "class" "w-full border-4 border-base-200 shadow-md object-cover" "width" "800") }}
        {{ with $.Params.coverCaption }}
          <figcaption class="mt-2 text-xs text-center text-secondary">
            {{ . | markdownify }}
          </figcaption>
        {{ end }}
      </figure>
    {{ end }}

    <div class="prose prose-headings:font-heading prose-base max-w-none">
      {{ partial "disclaimer-alert.html" . }}
      {{ .Content }}
    </div>
  </article>

  {{ partial "now-top-artists.html" . }}
{{ end }}
